# Xcode
build/
DerivedData/
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# CocoaPods
Pods/

# macOS
.DS_Store
*.swp
*~.nib

# Playgrounds
timeline.xctimeline
playground.xcworkspace
